<section class="stats">
	<span class="closed">2</span>
	<span> / </span>
	<span>{{bugs.length}}</span>
</section>
<section class="sort">
	<label for="">Order By :</label>
	<select name="" id="">
		<option value=""></option>
		<option value=""></option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" name="" id="">
</section>
<section class="edit">
	<label>Bug Name :</label>
	<input type="text" #txtBugName>
	<input type="button" value="Create" (click)="onCreateClick(txtBugName.value)">
</section>
<section class="list">
	<ol>
		<li *ngFor="let bug of bugs">
			<span class="bugname">{{bug | json}}</span>
			<div class="datetime">[created at]</div>
		</li>

		<!-- 
		<li>
			<span class="bugname closed">[This is test bug - 2]</span>
			<div class="datetime">[created at]</div>
		</li> 
		-->
	</ol>
	<input type="button" value="Remove Closed">
</section>